<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testerka v2</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container-fluid">
    <h1>Solutions rating</h1>

    <div class="bg-warning" style="font-style: italic;">
        <strong>Note:</strong> only correct solutions are listed here!
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Author</th>
                <th>Language</th>
                <th>Submitted at</th>
                <th>Moves</th>
            </tr>
        </thead>

        <tbody>
            {{#solutions}}
            <tr>
                <td>
                    {{getAuthor}}
                </td>

                <td>
                    {{getLanguage}}
                </td>

                <td>
                    {{getCreatedAt}}
                </td>

                <td>
                    {{getPoints}}
                </td>
            </tr>
            {{/solutions}}
        </tbody>
    </table>
</div>
</body>
</html>