<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testerka v2</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container-fluid">
    {{#solution}}
        <h1>Status: {{{getStatusString}}}</h1>

        {{#getErrorMessage}}
        <div class="panel panel-error">
            <div class="panel-heading">Odpowiedź systemu</div>
            <div class="panel-body">
                {{{getErrorMessage}}}
            </div>
        </div>
        {{/getErrorMessage}}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Wejście</th>
                    <th>Wyjście</th>
                    <th>Poprawność</th>
                </tr>
            </thead>

            <tbody>
                {{#getResults}}
                <tr>
                    <td>
                        {{#getTestCase}}
                        <pre>{{{getInput}}}</pre>
                        {{/getTestCase}}
                    </td>

                    <td>
                        <pre>{{{getOutput}}}</pre>
                    </td>

                    <td>
                        {{getPassedString}}
                    </td>
                </tr>
                {{/getResults}}
            </tbody>
        </table>
    {{/solution}}
</div>
</body>
</html>